body{
    background-color: blanchedalmond;
    text-align: center;
}

h1{
    background-color: aquamarine;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;

}
h1 button{
    float: right;
    margin: 2px;
}
h3{
    font-size: 22px;
    color: dodgerblue;
    font-weight: bold;
}
#random_sketch{
    color: red !important;
}
#score{
    float: left;
    font-weight: bold;
    color: green;
    margin: 10px;
}
#timer{
    float: right;
    font-weight: bold;
    color: red;
    margin: 10px;
}